# Git
.git
.gitignore

# Node
frontend/node_modules
frontend/.cache

# Maven build outputs
backend/target

# IDE
.idea
*.iml
.vscode

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# README and docs
README.md
LICENSE
*.md
